.main {
  background-color: #77c7c026;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  display: flex;
  box-shadow: 2px -3px 8px 1px #5e5d5d;
  position: relative;
  z-index: 1;
}
.header a {
  text-decoration: none;
}

.header .main-nav {
  display: flex;
  flex-direction: row;
}
.header .main-nav a {
  margin-right: 40px;
}
.main .message {
  text-align: center;
  padding: 10px 0;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 0;
  animation: slide 0.8s ease 0s 1 normal forwards;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.bodyLaout {
  height: calc(100vh - 138px);
  display: flex;
  justify-content: center;
  padding-top: 70px;
}