.container {
  display: flex;
}
.stepper {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
.stepper button {
  margin-bottom: 20px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  color: #fff;
}
.card-body {
  width: 300px;
  overflow: hidden;
  margin-bottom: 40px;
}
.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-content button:hover {
  opacity: 80%;
}
.progress-bar {
  height: 15px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 5px;
}
.card-content .buttons {
  display: flex;
  justify-content: space-between;
}
.progress-fill {
  height: 100%;
  background-color: #4CAF50;
}
.progress-fill p {
  margin: 0;
  text-align: center;
  font-size: 11px;
}