.form {
  padding: 30px 10px;
  height: 250px;
}

.form input[type="text"],
.form input[type="password"] {
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 3px 15px;
}

.form input[type="submit"] {
  cursor: pointer;
  font-size: 15px;
  background: #6434fc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  width: 80%;
  border-radius: 15px;
}

.form input[type="submit"]:hover {
  background: #774ffa;
}

.button-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0 20px 20px;
}